################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.gitignore
/.vs
/Servicio.CPFinancials/Recursos
/Servicio.FacturaElectronica/CertificadosAFIP
*.config
/Servicio.NeoCore/appsettings.json
/Servicio.NeoCore/appsettings.Development.json
/Sistema.Interfaces/Recursos
